<h1 id="session-title">
    no session selected
</h1>


<p id="session-details" style="display: none;">
    no date | session type
</p>

<div class="table-wrapper">
    <table id="laptimes-table" style="display: none; width: 100%;">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

<p id="no-data" style="display: none">No lap times available.</p>

<style>
    .active-lap {
      background-color: #181818;
    }

    .invalid-lap {
      background-color: red;
    }

    .best-lap {
      background-color: #A020F0;
      color: white;
    }

    .positive-delta {
      color: #a1b56c;
    }

    .negative-delta {
      color: #d32d66;
    }

    .table-wrapper {
        overflow-x: auto;
        max-width: 100%;
    }

    @media (max-width: 600px) {
        #session-title {
            font-size: 1rem;
        }

        #session-details,
        #no-data {
            font-size: 1rem;
        }

        #laptimes-table,
        #laptimes-table th,
        #laptimes-table td {
            font-size: 1rem;
            text-align: left;
            white-space: nowrap;
        }
    }
</style>
