<h1 id="session-title">
    no session selected
</h1>


<p id="session-details" style="display: none; font-weight: bold;">
    no date | session type
</p>

<table id="laptimes-table" style="display: none; width:100%">
    <thead><thead/>
    <tbody><tbody/>
</table>

<p id="no-data" style="display: none">No lap times available.</p>

<style>
    .active-lap {
      background-color: #181818; /* Light cyan */
    }

    .invalid-lap {
      color: red;
    }

    .best-lap {
      background-color: #7A1FA0;
      color: white; /* Optional: improves readability */
    }
</style>
